# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv
venv/
env/
.env

# Node.js
node_modules/
dist/
build/

# IDEs
.vscode/
.idea/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Docker
*.log
docker-compose.override.yml

# OS files
.DS_Store
Thumbs.db
