apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: gamification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:latest
          ports:
            - containerPort: 3000
          env:
            - name: GF_SECURITY_ADMIN_PASSWORD
              value: "admin"
            - name: GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH
              value: "/etc/grafana/provisioning/dashboards/application.json"
          volumeMounts:
            - name: provisioning-volume
              mountPath: /etc/grafana/provisioning
      volumes:
        - name: provisioning-volume
          configMap:
            name: grafana-provisioning
---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: gamification
spec:
  selector:
    app: grafana
  ports:
    - port: 3000
      targetPort: 3000
